{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}
        {% include 'partials/hero.html.twig' %}

        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 blog-main">

                        {% if config.plugins.breadcrumbs.enabled %}
                            {% include 'partials/breadcrumbs.html.twig' %}
                        {% endif %}

                        {% for child in collection %}
                            {% include 'partials/blog_item.html.twig' with {'blog': page, 'page': child, 'truncate': true} %}
                        {% endfor %}

                    </div>

                    <div class="col-sm-3 offset-sm-1 blog-sidebar">
                        {% include 'partials/sidebar.html.twig' with {'blog': page} %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block pagination %}
        {% if config.plugins.pagination.enabled and collection.params.pagination %}
        <div class="container pagination-container">
            <div class="row">
                <div class="col-sm-8">
                    {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': collection.params.pagination} %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock %}

{% endembed %}


