{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="main-content text-center" id="error">
        <div class="container">
            <h1>Error {{ page.header.http_response_code }}</h1>
            <p>
                {{ page.content }}
            </p>
        </div>
    </div>
{% endblock %}
