
/*All pages*/

.logo{
  width: 174px;
}

code{
  font-size: 70%;
  color: #000;
}

.med-icon {
  max-width: 100px;
  opacity: 0.3;
}

footer .container-fluid{
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px 0;
}

body {
  color: rgb(102,102,102);
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
  line-height: 155%;
  margin: 0;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(51,51,51);
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 180%;
  margin-bottom: 20px;
}

h3 {
  font-size: 170%;
}

h4 {
  color: rgb(130,130,130);
  font-size: 130%;
  margin: 8px;
}

a {
  color: rgb(51,170,255);
  text-decoration: underline;
}

a:hover {
  opacity: 0.6;
}

.navbar a.btn{
  text-decoration: none;
}

/*Home Page*/

.container.hero h2{
  font-size: 200%;
}

.container-fluid.green{
  background-color: rgb(64, 171, 92);
  padding: 120px 0;
  color: #fff;
}

.container-fluid.green h2, .container-fluid.institutions h2{
  color: #fff;
  font-size: 250%;
  margin-bottom: 20px;
}

.container-fluid.green a, .container-fluid.institutions a{
  color: #fff;
}

.container-fluid.institutions{
  background-image: url('../images/buildings.jpg');
  color: #fff;
  padding: 120px 0;
}

.text-primary{
  color: rgb(51, 170, 255);
}

.container-fluid.community{
  background-image: url('../images/geo-bg.png');
  background-size: 50%;
  padding: 120px 0;
}

.container-fluid.community .card, .communityrow .card .list-group-item{
  background-color: rgba(255, 255, 255, 0.45);
}

.learn-more{
  margin: 70px 0;
}

.row.jobs{
  padding: 100px 0;
}

.chia-icons img{
  margin: 30px 0;
}

.heading{
  margin: 70px 0;
}

.slogan { text-align:right; }

@media (max-width: 767px) {
    .slogan { text-align:left; margin-bottom: 20px;}
}

@media (max-width: 576px) {

    .navbar .container{
      display: inline-block;
      text-align: center;}
}

.white-leaf {
  filter: brightness(200%) grayscale(100%);
}

.grey-fade img {
  filter: grayscale(100%) brightness(35%);
  transition: filter 2s;
}

.grey-fade h2 {
  transition: color 2s;
}

.grey-fade img:hover,
.grey-fade img:hover+h2 {
  color: rgb(64,171,92);
  filter: grayscale(0%) brightness(100%);
}

/*.grey-fade h2:hover {
  color: rgb(64,171,92);
}*/


/*News Page*/

.container-fluid.news {
  background-image: url('../images/geo-bg.png');
  background-size: 50%;
  padding: 50px 0;
}

.container-fluid.news .card {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 70%;
  line-height: 160%;
}

.latest-news{
  text-align: right;
}

@media (max-width: 576px) {
    .latest-news{
      text-align: left;
    }
    .container-fluid.news .card img{
      margin-bottom: 30px;
    }
}

/*FAQ page*/

.container.faq li{
  list-style-type: none;
  padding-left: 0px;
  margin-top: 40px;
}

.container.faq{
  margin-bottom: 70px;
}

.container.faq h3{
  margin-top: 70px;
  margin-bottom: 30px;
}

/*translation start*/
.langSwitch {
  font-size: medium;
}
/*translation end*/