body {
  color: rgb(102, 102, 102);
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
  line-height: 155%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(51, 51, 51);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 150%;
  line-height: 140%;
  text-align: center;
}

h2 {
  font-size: 180%;
  margin-top: 0;
}

h3 {
  font-size: 170%;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  color: rgb(130, 130, 130);
  font-size: 130%;
  margin: 8px;
}

@media screen and (min-width: 768px) {
  h1 {
    margin-top: 0;
    font-size: 200%;
    line-height: 140%;
    text-align: right;
  }
}

a {
  color: rgb(51, 170, 255);
}

p {
  margin-top: 0;
}

a:hover {
  opacity: 0.6!important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .wrap {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .wrap.smaller {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}

.header .wrap {
  padding-bottom: 20px;
  padding-top: 10px;
}

.logo {
  max-width: 95%;
}

.hero {
  /* background-color: rgb(225,225,225); */
}
.navbar {
  height:100px;
  padding: .5rem 5rem!important;
  border: 1px solid rgba(0,0,0,0.06); 
  background-color: #FFFFFF;  
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);}
}

.header-button {
  font-size: 90%;
  padding-top: 25px;
  float:right;
}

.header-button a {
  /*border: 1px solid rgb(153, 153, 153); */
  border-radius: 25px;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 12px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #3aac59;
  /* width: 140px; */
  padding: 10px 25px;
  float:right;
  text-align:  center;
}

.header-button a:hover {
  /*background-color: rgb(230, 230, 230);*/
  background-color: #3aac59;
}

.info-box {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 8px;
  color: rgb(160, 160, 160);
  margin: 0 auto;
  padding: 10px 20px 0 20px;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .info-box {
    font-size: 1.4rem;
    max-width: 70%;
  }
}

ol.info-box {
  background-color: rgba(255, 255, 255, 0.45);
  font-size: 94%;
  max-width: 90%;
  padding: 20px 20px 20px 40px;
  margin: 20px 0;
}

ol li {
  margin-bottom: 10px;
}

.info-box p {
  font-size: 85%;
}

.get-chia {
  background-color: rgb(64, 171, 92);
  color: rgb(255, 255, 255);
}

.get-chia a {
  color: rgb(255, 255, 255);
}

.get-chia a:hover {
  opacity: 0.7;
}

.get-chia h2 {
  color: rgb(255, 255, 255);
  font-size: 250%;
}

.white-leaf {
  filter: brightness(200%) grayscale(100%);
  padding-bottom: 30px;
}

.centered {
  text-align: center;
}

.margin-top {
  margin-top: 35px;
}

.med-icon {
  max-width: 100px;
  opacity: 0.3;
}

.community {
  background-image: url('../images/geo-bg.png');
  background-size: 50%;
}

.hero .contribute {
  background-image: url('../images/geo-bg.png');
  background-size: 50%;
}

.fi {
  background-image: url('../images/buildings.jpg');
  color: rgb(255, 255, 255);
  font-size: 120%;
  line-height: 140%;
}

.fi h3 {
  color: rgb(255, 255, 255);
  line-height: 120%;
}


@media screen and (min-width: 768px) {
  .fi {
    font-size: 150%;
    line-height: 140%;
  }

  .fi h3 {
    line-height: 120%;
  }
}

.grey-fade img {
  transition: filter 2s;
}

.grey-fade h2 {
  transition: color 2s;
}

.grey-text {
  color: rgb(102, 102, 102);
}

.grey-fade img:hover,
.grey-fade img:hover+h2 {
  color: rgb(64, 171, 92);
  filter: grayscale(0%) brightness(100%);
}

/*.grey-fade h2:hover {
  color: rgb(64,171,92);
}*/

.page-footer {
  background-color: #374641;
  color: white;
  text-align: left;
  font-size: 14px;
}
.page-footer ul {
  list-style: none;
  margin-top:0px;
}
.page-footer h2 {
  color: white;
}
.page-footer .header {
  font-size: 18px;
}
.page-footer .social_footer {
display: inline-block;
padding-right:20px;
height:20px;
width:20px;
}

.page-footer .grey {
  color: #ffffff;
  opacity: .3;
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.page-footer a {
  color:white;
  font-size:14px;
}
.page-footer .logo {
  max-width: 30%;
}
.page-footer .wrap {
  padding-bottom: 20px;
}

/*Newsfeed start*/

/*#news-feed-page .newsfeed {
  background-image: url('../images/geo-bg.png');
  background-size: 50%;
}*/
#news-feed-page .newsfeed {
  background-color:#fafafa;
}
#news-feed-page .page-footer .social_footer {
display: inline!important;
}
#news-feed-page .newschain {
  background-color: rgb(64, 171, 92);
  color: rgb(255, 255, 255);
  min-height: 100%;
}

#news-feed-page .news-box {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  height:207px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.02);
  margin: 0 auto;
  max-width: 100%;
  padding: 40px 40px 0 40px;
  background: #ffffff;
}
#news-feed-page h3 {
  color: #b0b0b0;
  font-weight: 400;
  margin-bottom:0px;
}
#news-feed-page .wrap:first-child {
  padding-top:50px;
  padding-bottom:0px;

}
#news-feed-page .logo {
  max-width: 28%;
  padding-bottom: 10px;
}
#news-feed-page .page-footer .wrap {
  padding-bottom: 20px!important;
}
#news-feed-page .panel-heading {
  /*padding: 10px 15px;*/
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#news-feed-page .news-heading span {
  float: left;
  color: #808080;
  font-size: 18px;
  /*font-family: 'Roboto';*/
  font-weight: 300;
  width: 80%;
}
#news-feed-page .news-box:last-child {
  margin-bottom: 80px;
}
#news-feed-page .news-box a {
  color: #3AAC59;
}
#news-feed-page .news-text-content .description {
  float: left;
  color: #B0B5B3;
  font-size: 14px;
  line-height: 21px;
  /*font-family: 'Roboto';*/
  /*font-weight: 300;*/
  width: 80%;
}


#news-feed-page .news-heading time {
  float: right;
  color: #D8D8D8;
  /*font-family: 'Roboto';*/
  font-style: italic;
  /*font-weight: 300;*/
  /*font-size: 1.4em;*/
  /*padding-top: 6px;*/
  font-size: 80%;
  width: 20%;
  text-align: right;
}

#news-feed-page .image-box {
  max-width: 95%;
}

#news-feed-page .read-more-link {
  cursor: pointer;
  color: #3AAC59;
}

#news-feed-page .read-more-link a {
  color: rgb(51, 170, 255) !important;
}

#news-feed-page .read-more-link a:hover {
  opacity: 0.6 !important;
}

#news-feed-page .logo-news {
  max-width: 95%;
  padding-top: 10px;
}

#news-feed-page .news-box:hover .logo-news {
  opacity: 1;
}

#news-feed-page .news-box {
  margin: 0px 0px 20px 0;
  
}

/*Newsfeed end*/

/*translation start*/

.langSwitch {
  font-size: medium;
}

/*translation end*/
