

body {
  color: rgb(102,102,102);
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
  line-height: 155%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(51,51,51);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 200%;
  line-height: 140%;
  text-align: right;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 170%;
}

h4 {
  color: rgb(130,130,130);
  font-size: 130%;
  margin: 8px;
}

a {
  color: rgb(51,170,255);
}

a:hover {
  opacity: 0.6;
}

.row {
  margin-right: 0;
}

.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.header .wrap {
  padding-bottom: 20px;
  padding-top: 10px;
}

.logo {
  max-width: 95%;
}

.hero {
  /* background-color: rgb(225,225,225); */
}

.header-button {
  font-size: 90%;
  padding-top: 25px;
  text-align: right;
}

.header-button a {
  border: 1px solid rgb(153,153,153);
  border-radius: 4px;
  color: rgb(102,102,102);
  font-family: 'Poppins', sans-serif;
  margin-top: 12px;
  padding: 8px 15px;
  text-decoration: none;
}

.header-button a:hover {
  background-color: rgb(230,230,230);
}

.info-box {
  border: 1px solid rgb(180,180,180);
  border-radius: 8px;
  color: rgb(160,160,160);
  margin: 0 auto;
  max-width: 70%;
  padding: 10px 20px 0 20px;
}

ol.info-box {
  background-color: rgba(255,255,255,0.45);
  font-size: 94%;
  max-width: 90%;
  padding-left: 35px;
}

.info-box p {
  font-size: 85%;
}

.get-chia {
  background-color: rgb(64,171,92);
  color: rgb(255,255,255);
}

.get-chia a {
  color: rgb(255,255,255);
}

.get-chia a:hover {
  opacity: 0.7;
}

.get-chia h2 {
  color: rgb(255,255,255);
  font-size: 250%;
}

.white-leaf {
  filter: brightness(200%) grayscale(100%);
}

.centered {
  text-align: center;
}

.med-icon {
  max-width: 100px;
  opacity: 0.3;
}

.community {
  background-image: url('../images/geo-bg.png');
  background-size: 50%;
}

.fi {
  background-image: url('../images/buildings.jpg');
  color: rgb(255,255,255);
  font-size: 150%;
  line-height: 140%;
}

.fi h3 {
  color: rgb(255,255,255);
  line-height: 120%;
}

.grey-fade img {
  filter: grayscale(100%) brightness(35%);
  transition: filter 2s;
}

.grey-fade h2 {
  transition: color 2s;
}

.grey-fade img:hover,
.grey-fade img:hover+h2 {
  color: rgb(64,171,92);
  filter: grayscale(0%) brightness(100%);
}

/*.grey-fade h2:hover {
  color: rgb(64,171,92);
}*/


.page-footer {
  background-color: rgb(80,80,80);
  color: rgb(255,255,255);
  text-align: center;
}


/*Newsfeed start*/

#news-feed-page .newsfeed {
  background-image: url('../images/geo-bg.png');
  background-size: 50%;
}

#news-feed-page .newschain {
  background-color: rgb(64,171,92);
  color: rgb(255,255,255);
  min-height: 100%;
}

#news-feed-page .news-box {
  border: 1px solid rgb(180,180,180);
  border-radius: 8px;
  color: rgb(160,160,160);
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 20px 0 20px;
  min-height: 120px;
  background: #ffffff;
}

#news-feed-page .panel-heading {

    /*padding: 10px 15px;*/
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

#news-feed-page .news-heading span {

    float: left;
    color: #178db1;
    /*font-size: 1.8em;*/
    /*font-family: 'Roboto';*/
    font-weight: 300;
    width: 80%;

}


#news-feed-page .news-text-content .description {

    float: left;
    /*color: #178db1;*/
    font-size: 60%;
    line-height: 20px;
    /*font-family: 'Roboto';*/
    /*font-weight: 300;*/
    width: 80%;



}
#news-feed-page .news-heading time {

    float: right;
    color: #666;
    /*font-family: 'Roboto';*/
    font-style: italic;
    /*font-weight: 300;*/
    /*font-size: 1.4em;*/
    /*padding-top: 6px;*/
    font-size: 80%;
    width: 20%;
    text-align: right;

}

#news-feed-page .image-box{
  max-width: 95%;
}



#news-feed-page .read-more-link{
  cursor: pointer;
  color:  rgb(51,170,255);
}

#news-feed-page .read-more-link a {
  color: rgb(51,170,255)!important;
}

#news-feed-page .read-more-link a:hover {
  opacity: 0.6!important;
}

#news-feed-page .logo-news {
  max-width: 95%;
  height: 100%;
  opacity: 0.5;
  padding-top: 10px;
}

#news-feed-page .news-box:hover .logo-news {
  opacity: 1;
}

#news-feed-page .news-box{
  margin: 20px;
}
/*Newsfeed end*/

/*translation start*/
.langSwitch {
  font-size: medium;
}
/*translation end*/