{% set taxlist = taxonomylist.get() %}

{% if taxlist %}
    <span class="tags">
        {% for tax,value in taxlist[taxonomy] %}
            <a class="badge badge-secondary" href="{{ base_url }}/tag:{{ tax }}">{{ tax }}</a>
        {% endfor %}
    </span>
{% endif %}
